@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

.container-style{
    background: linear-gradient(180deg, #FFB800 13.54%, #FFFFFF 13.55%);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

body {
    margin: 0;
    font-family: 'Dosis';
    color:#828282;
    font-weight:500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
  }

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 1.5rem;
    min-height: 90vh;
}


.container-payment{
    max-width: 1480px;
}

.main {
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    color: #FFB800;
    font-weight:700;
    font-size: 2.5vh;
    max-height: 11vh!important;
    /* max-width: 90vw; */
}

.p-steps{
    
}

.p-steps-title{
    font-family: 'Dosis'!important;
    color: #cc9200!important;
}

.p-steps-number{
    font-family: 'Dosis'!important;
    color: #FFB800!important;
}




@media all and (min-width:0px) and (max-width: 568px) {
    .navbar{
        visibility: hidden!important;
        min-height: 5vh!important;
        width: 0px;
    }
    .plane{
        visibility: hidden!important;
        min-height: 5vh!important;
        width: 0px;
    }
  }

.cardTitle{
    max-height: 10vh;
    margin-bottom: 6vh;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
}

.continue-btn{
    background-color: #ffcf56!important;
    border: 0!important;
    --highlight-text-color: #ffcf56!important;

}

.light-txt{
    color: #8C8C8C!important;
}

/* .dejmi{
    background-color: #8C8C8C;
}
.dejmi2{
    background-color: #c80a0a;
} */



/* .checkinfo{
    color: #828282;
} */

/* .p-divider{
    border-color: #828282;
    color: #828282;
} */

/* .checkinfocont{
    width: inherit!important;
} */



.plane{
    position:fixed;
    z-index: -222;
}


.container:last-of-type{
   
    margin-bottom: 10px!important;
}