.checkIn{
    background: linear-gradient(180deg, #FFB800 13.54%, #FFFFFF 13.55%);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
  }

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 1.5rem;
    min-height: 90vh;
}

.main {
    
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    color: #FFB800;
    font-weight:700;
    font-size: 2vh;
    min-height: 7vh;
    max-width: 7vw;
  
}

.cardTitle{
    max-height: 10vh;
    margin-bottom: 6vh;
    color: white;
    font-weight: 600;
    font-size:larger;
}

.continue-btn{
    background-color: #FFB800!important;
    border: 0!important;
    --highlight-text-color: #ffcf56!important;

}

.light-txt{
    color: #8C8C8C!important;
}

.dejmi{
    background-color: #8C8C8C;
}
.dejmi2{
    background-color: #c80a0a;
}

.fieldStyle{
    width:inherit;
}

.p-inputnumber-input{
    width:inherit;
}


.p-calendar{
    width:inherit!important;
}

.p-radiobutton .p-radiobutton-box.p-highlight{
    border-color: #FFB800!important;
    background: #FFB800!important;
}

.p-radiobutton-box:hover{
    border-color: #FFB800!important;
   
}

input:hover{
    border-color: #FFB800!important;
   
}

input:focus{
    border-color: #FFB800!important;
    box-shadow: 0 0 5px #FFB800!important;
}

.p-inputwrapper-focus{
    border-color: #FFB800!important;
    box-shadow: 0 0 5px #FFB800!important;
}

.p-dropdown:hover{
    border-color: #FFB800!important;
}

.p-button-rounded:focus{
    border-color: #FFB800!important;
    box-shadow: 0 0 5px #FFB800!important;
}

.p-autocomplete-dropdown{
    background: #FFB800!important;
    border: #FFB800!important;
}

.checkinfo{
    color: #828282;
}

.p-divider{
    border-color: #828282;
    color: #828282;
}

.checkinfocont{
    width: inherit!important;
}

#email{
    opacity: 0.7;
}

.payBttn{
    background-color: #FFB800!important;
    border-color: #FFB800!important;
}

.payBttn:focus{
    box-shadow: 0 0 5px #FFB800!important;
}


.table{
    min-width: 80vw;
    margin-top: 12vh;
}


th{
    background: #f4af00!important;
    color: white!important;
}

.p-datatable-row-expansion th{
    background: #ffcb48!important;
}